.navbar{
    margin-bottom: 2px;
}
.navbar-inverse{
    background: #000;
}
.navbar-right{
    margin-top: 8px;
}
.navbar-inverse .navbar-nav>li>a{
    border-radius: 5px;
    color: rgb(255, 144, 1);
    font-size: 18px;
    letter-spacing:3px;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-nav>li>a{
    padding: 8px;
}
.navbar-inverse .navbar-nav>li>a.active{
    color: black;
    background: rgb(255, 144, 1);
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: black;
    background: rgb(255, 144, 1);
}
.navbar-brand{
    padding: 2px;
}
.form-control{
    background-color: #ddd;
}
.btn{
  background-color:rgb(255, 144, 1);
  font-size: 18px;
  letter-spacing:5px;
  border: none;
  padding: 5px;
}
.navbar .btn{
    margin-left: 10px;
}
.navbar .btn:hover{
    background-color: rgb(255, 180, 1);
}
.dropdown-menu{
    background: #222;
}
.dropdown-menu>li>a{
    color: rgb(255, 144, 1);
    letter-spacing: 5px;
}
.dropdown-menu>li>a:hover{
    color: black;
    background: rgb(255, 144, 1);
}
