.item{
  padding: 30px;
  background: rgb(255, 180, 0, 0.2);
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.top-part{
  text-align: left;
  margin-bottom: 20px;
}
.people-name{
  display: inline;
  font-size: 20px;
}
.time{
  float: right;
  display: inline;
  font-size: 20px;
}

.item-part{

  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: auto;
  background: rgb(255, 180, 0);
}
.item-name{
  font-size: 15px;
}
.item-part button{
  padding: 3px;
  font-size: 15px;
  float: right;
}
.item-part button a{
  color: black;
}
.item-part button a:hover{
  color: black;
  text-decoration: none;
  color: rgb(255, 144, 0);
}
.item-part button:hover{
  background: #222;

}
.description{
  margin-top: 20px;
  color: #777;
  padding: 5px;
  letter-spacing: 3px;
  font-size: 18px;
}
