{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>失物招领</title>
    <link rel="stylesheet" href="{% static "css\bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css\navbar.css"%}">
    <link rel="stylesheet" href="{%static "css\home.css"%}">
    <script type="text/javascript" src="{%static "js\jquery-3.4.1.min.js"%}"></script>
    <script type="text/javascript" src="{%static "js\bootstrap.min.js"%}"></script>
</head>
<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "main:home" %}"><img src="{% static "img\logo.jpg" %}" alt="失物招领"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索 <span class="glyphicon glyphicon-search"
                                                                       aria-hidden="true"></span></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url "main:found" %}" class="active">失物</a></li>
                <li><a href="{% url "main:lost" %}">寻物</a></li>
                <li><a href="#">已找到</a></li>
                <li class="dropdown">
                    {% if user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-picture"
                                                                                                                                                  aria-hidden="true"></span> {{ user }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="{% url "main:user_center" %}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"> </span> 个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url "main:log_out" %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span> 登出</a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-picture"
                                                                                                                                                  aria-hidden="true"></span> 未登录
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="{% url "main:log_in" %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> </span> 登录</a></li>
                            <li><a href="{% url "main:register" %}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"> </span> 注册</a></li>

                            </li>
                        </ul>
                    {% endif %}

                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <!-- <a href="#" class="main-button">丢失</a>
    <a href="#" class="main-button">捡到</a> -->
</div>

<p>This is lost page</p>
<p>这是发布寻物信息的页面，即失主发布自己丢失物品的信息。</p>

<button><a href="{% url "main:publish_lost" %}">我丢了东西</a> </button>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>物品</th>
        <th>时间</th>
        <th>地点</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody class="no-underline">
      {% for item in lost_items %}
          <tr>
            <th scope="row">{{ item.item_name }}</th>
            <td>{{ item.item_time }}</td>
            <td>{{ item.item_location }}</td>
            <td><a class="text-primary" href="#">我捡到了</a></td>
          </tr>
      {% endfor %}


    </tbody>
  </table>

</div>

</body>
</html>
